<html>
<%= render 'shared/head' %> 
	
  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-4">
		<!-- Sidebar has forms for reports -->
          <strong> Run Reports </strong>
			<br/> <br/>
			
			<%= form_tag ('/reports/monthtodate'), :method => 'get' do %> 
				<%= submit_tag "View Month to Date" %>
			<% end %>
			<br/>
			
			<%= form_tag ('/reports/month'), :method => 'get' do %> 
				<%= select_month(Date.today) %> 
				<br/>
				<%= submit_tag "Run Monthly Report" %>
			<% end %> 
			<br/>
			
			<%= form_tag ('/reports/date'), :method => 'get' do %> 
				<%= select_date(date = Date.today, options = {}, html_options = {}) %> 
				<%= submit_tag "Run Daily Report " %>
			<% end %> 
        </div>
        <div id="content" class="col-xs-8">
          
	<!-- if the user has not entered the daily max # of readings, show form -->
	<% if @daily_count < @max_daily %>
	<%= form_for :entry, url: entries_path do |f| %> 
		<p>
		<%= f.label :cbg, 'Enter CBG (mg/dl)' %> 
		<%= f.text_field :cbg %> 


		<%= f.submit %> 
		<br/>Entries must be between 0 - 999
		</p> 
	<% end %> 

	<!-- else, print a message, and prevent them from entering more -->
	<% else %> 
	Thank you! You have already entered your CBG results <%= @daily_count %>  times today!
	<% end %>

	<br/>

	<!-- if there are any results from today, print them in this table-->
	<% if @daily_count > 0 %>
	<br/><br/>
	<strong> Today's CBG Results  </strong> -  Number of entries today: 
	<%= @daily_count %>
	<table class="table"> 
	<tr> 
		
		<th>Time</th>
		<th>CBG</th>
	</tr> 


	<% @daily_list.each do |entry| %> 
		<tr> 
			<td><%= entry.date.strftime("%I:%M %p ") %></td>
			<td><%= entry.cbg %></td>
		</tr>
	<% end %>

<% end %> 

        </div>
      </div>
    </div>
  </body>
</html>





